[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:sowers-io/bosca-kubernetes.git
[submodule "workspace/frontend/bosca-ui"]
	path = workspace/frontend/bosca-ui
	url = git@github.com:sowers-io/bosca-ui.git
